<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250025969564-i7g1r2lpf7ulrba345m3iskegcbtn308.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250025969564-i7g1r2lpf7ulrba345m3iskegcbtn308</string>
	<key>API_KEY</key>
	<string>AIzaSyCm7SpHYyp1-1wrK-UKTa1awh9IiwSCqBw</string>
	<key>GCM_SENDER_ID</key>
	<string>250025969564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>swiftrider</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftrider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250025969564:ios:08be24ae8e7e1492cf6a59</string>
</dict>
</plist>